{% extends 'base.html' %}
{% block title %}GoalFish. Learning... Outta' the Bowl. {% endblock %}
{% block content %}
{% load inbox %}
{% if user.is_authenticated %}
Current Points: {{ user.get_profile.points }}

{% else %}
<div id="login_pane" style="text-align: right; float: right; clear: none;">
<span class="menu_text">login </span><a href="/accounts/login/"><img src="/static/img/glyphicons_248_asterisk.png" alt="login" style="margin-right: 10px;"/></a>
<span class="menu_text">register </span><a href="/accounts/register/"><img src="/static/img/glyphicons_006_user_add.png" alt="register"/></a>
</div>
<h1>SMART Goals for Life</h1>
<img src="/static/img/students.png" alt="students" style="clear: none;"/>
<div style="float: right; clear: none; width: 320px; text-align: center; margin-bottom: 10px;">
<a href="#smart_goals" class="fancybox"><div class="box raised infoblock" style="border: 1px solid #e1d4c0; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px;"><h4>What are SMART Goals?</h4></div></a>
<div class="box raised infoblock" style="border: 1px solid #e1d4c0; padding-top: 5px; padding-bottom: 5px; margin-bottom: 10px;"><h4>How can SMART Goals Help Me?</h4></div>
<div class="box raised infoblock" style="border: 1px solid #e1d4c0; padding-top: 5px; padding-bottom: 5px;"><h4>What Do I Get?</h4></div>
</div>
<div id="checkbox_wrapper" class="box raised" style="border: 1px solid; padding: 10px;">
<h3>Learning doesn't stop when the bell rings.</h3>
<div class="check_box">Set your own learning goals</div>
<div class="check_box">Connect with your communities to help you reach your goals</div>
<div class="check_box">Share your accomplishments</div>
<div class="check_box">Earn GoalFish rewards and show your friends and family</div>
</div>
<div id="smart_goals" style="display:none;width:500px;">
<h4>SMART Goals are how the world operates.</h4>
<p>SMART is a memory device used to remember the most important criteria to set when creating a new goal. This method is used in schools, companies and other organizations around the world.</p>
<h4>Specific</h4>
<h4>Measurable</h4>
<h4>Attainable</h4>
<h4>Relavent</h4>
<h4>Time-bount</h4>
</div>
{% endif %}
{% endblock %}
